.root {
  appearance: none;
  background: #eb008d;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 0 8px 8px 0 rgba(235, 0, 141, 0.15);
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
  padding: 0.75rem 1.5rem;
  width: 100%;
}

.root:disabled {
  background: #ffb8e3;
}