.root {
  font-size: 2rem;
}

.dim {
  color: #999;
}

.input {
  appearance: none;
  background-color: transparent;
  border: none;
  color: inherit;
  width: auto;
  font-size: 2rem;
  padding: 0 0.25em;
}

.input:focus {
  outline: none;
}
