.root {
  height: 0;
  position: relative;
  text-align: center;
}

.pill {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 1em;
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.5em 1em;
  position: relative;
  top: -0.75rem;
}